<section class="container-fluid d-flex flex-column p-0" style="--minh:100vh;">
    <div class="row px-3" >
        <div class="col df bg-d2 rounded aic jcsb p-2 px-3">
            <form class="form search-form d-flex ais p-0 m-0" style="--g:0;">
                <input id="searchBar" class="w-100" type="text" name="search" placeholder="Search Blogs" autocomplete="off" onkeydown="searchInput(event)" >
                <button class="btn btn-sm btn-primary rounded" type="button" id="search-button" onclick="searchInput(event)">search</button>
            </form>
        </div>
    </div>

    <div id="main-content" class="row fg pt-3" style="--mb:15;">
        <div id="blogs-container" class="col-12"></div>
    </div>
</section> 
<script src="/js/homepage.js"></script>
