<section class="container-fluid d-flex flex-column p-0" style="--minh:100vh;">
    <div class="row px-3" style="--pt:15">
        <div class="col d-flex flex-column flex-sm-row bg-d2 rounded aic p-2 px-3">
            <form class="form search-form d-flex ais p-0 my-2" style="--g:0;">
                <div class="rel p-0 fg ">
                    <input id="searchBar" class="w-100" type="text" name="search" placeholder="Search for blogs" autocomplete="off" onkeydown="searchInput(event)" >
                    <div id="prev-search-dropdown" class="abs d-flex flex-column">
                        {{!-- the previous searched items go here --}}
                    </div>
                </div>
                <button class="btn btn-sm btn-primary rounded" type="button" id="search-button" onclick="searchBtn(event)">search</button>
            </form>
        </div>
    </div>
    {{#if logged_in}}

    
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" onclick="showPostBlogForm()">Create Blog</button>

                {{!-- <form class="form blog-form p-3">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" name="title" placeholder="Enter title" value="Blog Test">
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea class="form-control" name="content" rows="5" >This is a test blog post.</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" onclick="sendPostBlogReq(event)">Submit</button>
                </form> --}}
            </div>
        </div>

    {{/if}}

    <div id="main-content" class="row fg">
        {{!-- this is for dinamic content --}}
    </div>
    <div id="blogs-container">

    </div>
</section> 
<script src="/js/homepage.js"></script>
<script src="/js/utilities.js"></script>
